@import '../../scss/abstracts/variables';

.product-filters__wrapper {
  position: absolute;
  z-index: 1000;
}
.product-filters__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-items__open {
  background-color: white;
  border: 1px solid $color-grey-light-2;
  padding: 10px;
}
.filter-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 170px;
  gap: 10px;
}

.filter-items__title {
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: $color-grey-light-3;
  }
}

.product-filters__container {
  min-width: 200px;
}

.product-filter__item {
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 5px;
    border: none;
    background: transparent;
  }

  .filter-item__check-icon {
    svg {
      width: 20px;
      height: 20px;
    }
    width: 20px;
    height: 20px;
  }
}
