.product__wrapper {
  display: flex;
  flex-direction: column;

  .product__image-wrapper {
    width: 100%;
    height: 318px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product__label {
    font-size: 14px;
    color: #121212;
    opacity: 0.6;
    text-transform: capitalize;
    line-height: 16px;
    padding: 16px 0 12px;
  }

  .product__price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product__price {
    font-size: 14px;
    color: #121212;
    text-transform: capitalize;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}
