@import '../../scss/abstracts/variables';
.category-page__container {
  width: 100%;
  .category-nav {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: $color-grey-light-2;
    height: 32px;
    display: flex;
    align-items: center;
  }

  .inactive {
    color: $color-primary;
    opacity: 0.6;
  }

  .active {
    color: $color-primary;
  }
}

.page__content {
  padding: 1rem 5rem;
}

.product-filters {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
