.home {
  padding: 0 5rem;

  .hero-container {
    display: flex;
    height: 490px;
    gap: 25px;
    width: 100%;
    padding-bottom: 48px;

    .col-lg {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;
      overflow: hidden;

      .side-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .row {
      flex: 1;
      display: flex;
      overflow: hidden;
      position: relative;
    }

    .hero-category__top {
      display: flex;
      width: 100%;
      height: 50%;
      gap: 25px;
    }

    .hero-category__bottom {
      display: flex;
      width: 100%;
      height: 50%;
      gap: 25px;
      background-position: center;
      background-size: cover;
    }

    .hero-banner {
      position: relative;
      width: 100%;
      height: 100%;

      .slide-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        transition: cubic-bezier(0, 1, 1, 0);
      }

      .slide {
        width: 100%;
        height: 100%;
        min-width: 100%;
      }

      .slide__img-container {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #f8f8f8;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: #121212;
        cursor: pointer;
        svg {
          height: 14px;
        }
      }
      .left {
        left: 40px;
        z-index: 51;
      }
      .right {
        right: 40px;
        z-index: 50;
      }
    }
  }

  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 30px;
  }

  .home-categories__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    padding-bottom: 48px;
  }

  .discount-section {
    display: flex;
    width: 100%;
    height: 300px;
    padding: 96px 0;
    column-gap: 30px;

    .discount-item {
      flex: 1;
      width: 100%;
      position: relative;
    }
    .discount_image-wrapper {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .subscribe-section {
    display: flex;
    height: 580px;
    background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
    position: relative;

    .subscribe-section__img {
      position: absolute;
      z-index: 30;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img-left {
      bottom: -43px;
      left: 162px;
    }

    .img-right {
      bottom: 0px;
      right: 162px;
    }
  }

  .subscribe-section__form {
    position: absolute;
    background: #ffffff;
    border-radius: 4px;
    width: 530px;
    height: 460px;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    transform: translate(-50%, -50%);

    .subscribe-section__text {
      p {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.06em;
        color: #121212;
        opacity: 0.4;
        text-align: center;
      }

      h3 {
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding: 16px 0;
      }
    }

    #subscribe__email {
      background: #f8f8f8;
      outline: none;
      height: 64px;
      width: 340px;
      border: none;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
        text-transform: capitalize;
        text-align: center;
        color: #121212;
        opacity: 0.4;
      }
    }

    .subscribe-btn {
      height: 64px;
      width: 340px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      font-size: 16px;
      color: #ffffff;
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

.red-text {
  color: #e91e63;
}
