.bread-crumb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;

  .right {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    height: 32px;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .left {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }
}

.active {
  color: #121212;
}

.inactive {
  color: #121212;
  opacity: 0.6;
}

.bread-crumb__page-title {
  display: flex;
  align-items: center;
}
