@import '../../scss/abstracts/variables';
footer {
  .footer__cta-form {
    color: $color-grey-light-3;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 4rem 0;
    justify-content: space-around;
    z-index: 20;
    position: relative;
    overflow: visible;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      z-index: -1;
      padding: 1rem 0;
    }
  }
  .footer_cta-inputs {
    display: flex;
    column-gap: 5px;
    #cta_email {
      outline: none;
      border: none;
      background-color: $color-grey-dark-2;
      padding: 5px;
      min-width: 400px;

      &::placeholder {
        color: $color-grey-light-3;
        padding: 0 10px;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }

  .footer_social-icons {
    display: flex;
    column-gap: 5px;
    color: $color-grey-light-3;
  }

  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .footer__submenu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    h4 {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 12px;
      color: $color-primary;
    }
    .item {
      color: $color-grey-dark-1;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .footer__bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    color: $color-grey-dark-1;
    font-size: 12px;
    background-color: $color-grey-light-2;
    height: 40px;
    align-items: center;

    .developer-title {
      text-decoration: underline;

      span {
        font-weight: 600;
      }
    }
  }
}
