.category-page__container {
  width: 100%;
  .category-nav {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: #f8f8f8;
    height: 32px;
    display: flex;
    align-items: center;
  }

  .inactive {
    color: #121212;
    opacity: 0.6;
  }

  .active {
    color: #121212;
  }
}

.page__content {
  padding: 1rem 5rem;
}
