.filters__wrapper {
  display: flex;
  flex-direction: column;

  .filters-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
  .filters-top__items {
    display: flex;
    align-items: center;
    column-gap: 20px;

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        color: #ccc;
      }
    }

    span {
      text-transform: uppercase;
      font-size: 13px;
      color: #121212;
      opacity: 0.6;
    }
  }

  .filters__box {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 24px;
    transition: height visibility opacity 0.4s ease-in;
  }

  .filter-item {
    position: relative;
    height: 100%;
    overflow-y: auto;
    h2 {
      font-size: 14px;
      color: #121212;
      text-transform: uppercase;
      letter-spacing: 0.06em;
    }
  }

  .filter-item__text {
    display: flex;
    column-gap: 8px;
    color: #121212;
    opacity: 0.8;
    font-size: 13px;
    padding: 8px 0;
    text-transform: capitalize;

    input {
      border: 1px solid #e6e6e6;
      outline: none;
    }
  }

  .filter-item__size {
    letter-spacing: 0.06em;
    text-transform: uppercase !important;
  }

  .show-filter-box {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .hide-filter-box {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
  }
}
